.registerPage {
  min-width: 300px;

  .emailRoot {
    margin-bottom: 20px;
  }

  .checks {
    margin-bottom: 2rem;
  }

  .extraLinks {
    font-size: 0.8rem;
  }
}

.invalid {
  background-color: var(--mantine-color-red-light);
}

.icon {
  color: light-dark(var(--mantine-color-red-6), var(--mantine-color-red-7));
}

.emailInput{
  color: inherit;
}